{% extends '/base.j2' %}


{% block head %}
    <h1>Error</h1>
{% endblock %}

{% block body %}
    <p>
        STATUS CODE: {{status_code}}
    </p>
    <p>
        <b>ERROR MESSAGE: {{error_message}}</b>
    </p>
    <p>
        {{traceback}}
    </p>

    <div class="text-center" style="text-align: center;">
        <button onclick="history.back()">Go Back</button>
    </div>

{% endblock %}