{% extends '/base.j2' %}


{% block head %}
    <h1>Error: Status Code {{status_code}}</h1>
{% endblock %}

{% block body %}

    <fieldset>
        <legend><h2>Error Message </h2></legend>
        <em>{{error_message}}</em>
    </fieldset>

    <fieldset>
        <legend><h2>Traceback</h2></legend>
        <em>{{traceback}}</em>
    </fieldset>

    <p></p>

    <div class="text-center" style="text-align: center;">
        <button onclick="history.back()">Go Back</button>
    </div>

{% endblock %}