<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">

    {% include '/includes/navbar.html' %}

    {% block head %}{% endblock %}

</head>

<body>

    {% block body %}{% endblock %}

    <footer>
        <p style="text-align: center;">
            <small>
                Please test with Google Chrome.<br>
                CS 340 Project Group 35: Noland Seigler & Jennifer Um
            </small>
        </p>
    </footer>

</body>

</html>