<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">

    {% include '/includes/navbar.html' %}

    {% block head %}{% endblock %}

</head>

<body>

    {% block body %}{% endblock %}

</body>

</html>