{% extends 'base.j2' %}


{% block head %}
    <h1>{{table_name}}</h1>
{% endblock %}


{% block body %}
<div id="browse" style="display: block">
    <div class="scrollit">
        <table>
        <thead>
        <tr>
            {% for key in items[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        <tbody>

        {% for item in items %}
        <tr>
            {% for key in item.keys() %}
                <td>{{item[key]}}</td>
            {% endfor %}

            <td><a href="edit_{{table_name}}/{{item.id}}" class="btn btn-default">Edit</a></td>
            <td><a href="delete_{{table_name}}/{{item.id}}" class="btn btn-default">Delete</a></td>

        </tr>
        {% endfor %}
        </table>
    </div>
</div> <!-- browse -->

<p>&nbsp;</p>

{% for entries in dropdown_items_for_add.items() %}
        {{entries}}<br><br>
{% endfor %}

<div id="insert" style="display: block">
    <form id="insert{{table_name}}" action="/{{table_name}}" method="post">
        <legend><strong>Add item to {{table_name}}</strong></legend>
          <fieldset>
            {% for key in items[0].keys() %}
                {% if key != 'id' %}
                    <label> {{key}} </label>


                    {% if key in dropdown_keys%}

                        <select name="{{key}}" id="{{key}}">
                            {% for entries in dropdown_items_for_add[key]["data"] %}
                                <option value="{{entries[dropdown_items_for_add[key]['relevant_column_name']]}}">
                                    {{entries[dropdown_items_for_add[key]['relevant_column_name']]}}
                                </option>
                            {% endfor %}
                            {% if key == "candidate_email"%}
                                <option value="null">null</option>
                            {% endif %}
                        </select>
                        <br>

                    {% else %}
                        <input type="text" name="{{key}}"><br>
                    {% endif %}

                    
                {% endif %}
            {% endfor %}
            
          </fieldset>
			<input type="submit" value="Add" name="add_{{table_name}}" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel"> 
	</form> <!--add new item to items-->
</div><!-- insert -->







{% endblock %}


