{% extends 'base.j2' %}


{% block head %}
    <h1>Delete item in {{table_name}}</h1>
{% endblock %}

{% block body %}

<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form id="delete_{{table_name}}">
      
    <fieldset class="fields">
        <legend><strong>Are you sure you want to delete the following item in {{table_name}}?</strong></legend>
        {% for key in items[0].keys() %}
            <label> {{key}}: </label> "{{items[0][key]}}"<br>
        {% endfor %}

            
    </fieldset>
    <input class="btn" type="submit" id="Delete_{{table_name}}" value="Delete">
    <a href="/{{table_name}}"><input class="btn" type="button" value="Cancel"></a> 
  </form> 
</div><!-- delete -->

{% endblock %}
