{% extends 'base.j2' %}


{% block head %}
    <h1>Edit entry in {{table_name}}</h1>
{% endblock %}

{% block body %}

<div id="browse" style="display: block">
    <div class="scrollit">
        <table>
        <thead>
        <tr>
            {% for key in items[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        <tbody>

        {% for item in items %}
        <tr>
            {% for key in item.keys() %}
                <td>{{item[key]}}</td>
            {% endfor %}

        </tr>
        {% endfor %}
        </table>
    </div>
</div> <!-- browse -->


<p>&nbsp;</p>
<div id="edit" style="display: block">
    <form id="edit_{{table_name}}" action="/edit_{{table_name}}/{{items[0].id}}" method="post">
        <fieldset class="fields">
            <legend><strong>Edit item in {{table_name}}</strong></legend>
            <label> candidate_email </label>
            <select name="candidate_email" id="candidate_email">
                {% for entries in dropdown_items_for_add["candidate_email"]["data"] %}
                    <option value="{{entries[dropdown_items_for_add['candidate_email']['relevant_column_name']]}}">
                        {{entries[dropdown_items_for_add['candidate_email']['relevant_column_name']]}}
                    </option>
                {% endfor %}
                <option value="none">none</option>
            </select>
        </fieldset>
    <input type="submit" value="Edit" name="edit_{{table_name}}" class="btn btn-primary" style="margin:.5rem;">
    <a href="/{{table_name}}"><input class="btn" type="button" value="Cancel"></a> 
  </form> 
</div><!-- update -->

{% endblock %}


