{% extends '/base.j2' %}


{% block head %}
    <h1>{{table_name}}</h1>
{% endblock %}


{% block body %}

    {% with table_information=table_information  %}
        {% include '/includes/table_description.html' %}
    {% endwith %}

    {% with table_information=table_information  %}
        {% include '/includes/table_attribute_descriptions.html' %}
    {% endwith %}
    <p>&nbsp;</p>

    {% with items=items %}
        {% include '/includes/read_table.html' %}
    {% endwith %}

<p>&nbsp;</p>



{% with table_name=table_name, items=items, columns_information=columns_information, dropdown_keys=dropdown_keys, dropdown_items_for_add=dropdown_items_for_add %}
    {% include '/includes/insert_fieldset.html' %}
{% endwith %}



{% endblock %}


