<div id="browse" style="display: block">
    <div class="scrollit">
        <table>
        <thead>
        <tr>
            {% if render_edit == true %}
                <th></th>
            {% endif %}
            {% if render_edit_intersection == true %}
                <th></th>
            {% endif %}
            {% if render_delete == true %}
                <th></th>
            {% endif %}
            {% for key in items[0].keys() %}
                {% if table_name == "candidate_office_records" and key == "candidate_email" %}
                    <th>{{ key }} (<a href="/candidates"><em>candidates</em></a> information in parentheses)</th>
                {% elif key == "left_id" or key == "right_id" %}
                {% else %}
                    <th>{{ key }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tbody>

        {% for item in items %}
        <tr>
            {% if render_edit == true %}
                <td><a href="/{{table_name}}/update/{{item.id}}"><input class="btn" type="button" value="Edit"></a></td>
            {% endif %}
            {% if render_edit_intersection == true %}
                <td><a href="/{{table_name}}/update/{{item.left_id}}_{{item.right_id}}"><input class="btn" type="button" value="Edit"></a></td>
            {% endif %}
            {% if render_delete == true %}
                <td><a href="/{{table_name}}/delete/{{item.id}}"><input class="btn" type="button" value="Delete"></a></td>
            {% endif %} 
            {% for key in item.keys() %}
                {% if item[key] is none %}
                    <td>NULL</td>
                {% else %}
                    {% if table_name == "candidate_office_records" and key == "candidate_email" %}
                        <td>
                            {{item[key]}} 
                            {% set candidate_dict_entry = dropdown_items_for_add["candidate_email"]["data_dict"][item[key]] %}
                            {% with candidate_dict_entry=candidate_dict_entry %}
                                {% include '/includes/candidate_email_helper.html' %}
                            {% endwith %}
                        </td>
                    {% elif key == "left_id" or key == "right_id" %}
                    {% else %}
                        <td>{{item[key]}}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}

        </tr>
        {% endfor %}
        </table>
    </div>
</div> <!-- browse -->