<div id="browse" style="display: block">
    <div class="scrollit">
        <table>
        <thead>
        <tr>
            {% if render_edit == true %}
                <th></th>
            {% endif %}
            {% if render_delete == true %}
                <th></th>
            {% endif %}
            {% for key in items[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        <tbody>

        {% for item in items %}
        <tr>
            {% if render_edit == true %}
                <td><a href="/{{table_name}}/update/{{item.id}}/"><input class="btn" type="button" value="Edit"></a></td>
            {% endif %}
            {% if render_delete == true %}
                <td><a href="/{{table_name}}/delete/{{item.id}}/"><input class="btn" type="button" value="Delete"></a></td>
            {% endif %} 
            {% for key in item.keys() %}
                {% if item[key] is none %}
                    <td>NULL</td>
                {% else %}
                    <td>{{item[key]}}</td>
                {% endif %}
            {% endfor %}

        </tr>
        {% endfor %}
        </table>
    </div>
</div> <!-- browse -->